body{
    font-family: "Playpen Sans", cursive; 
}
main{
    display: flex;
}

.my_info{
    background-color: rgb(48, 54, 92);
    width: 30%;
    color: white;
    padding-right: 50px;
    padding-left: 150px;
    padding-top: 20px;
}

.my_info img{
    display: flex;
    width: 300px;
    border-radius: 50%;
    margin: 0 auto;
}

.my_info h2{
    border-bottom: 1px solid white;
}

.content{
    width: 70%;
    padding-left: 70px;
    padding-right: 200px;
}

.content h1, h2{
    border-bottom: 1px solid black;
}

.content h1{
    margin-bottom: 0;
}

.content .text{
    padding-bottom: 50px;
}

.content .skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.content .projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .project{
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.content .technologies{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.content .project img{
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .content, .my_info{
        padding-left: 10px;
        padding-right: 10px;
    }
    .my_info img{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    main{
        flex-wrap: wrap;
    }
    .my_info, .content{
        width: 100%;
    }
    .content .project{
        width: 100%;
    }
}